# SkyShield Environment Configuration

# Database Configuration (MySQL)
DB_ENGINE=mysql
DB_NAME=skyshield_db
DB_USER=root
DB_PASSWORD=
DB_HOST=127.0.0.1
DB_PORT=3306

# Set to True if you want to use SQLite temporarily without a running MySQL service
USE_SQLITE=False

# Django Security
SECRET_KEY=django-insecure-ebvu!8z@k(4-)g&_x@5cpw#$4jsplgigs5o*%0#s)h93&)v2hk
DEBUG=True
ALLOWED_HOSTS=127.0.0.1,localhost
